@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inria Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #0F0A19;
  overflow-x: hidden;
}

p, blockquote {
  margin-bottom: 0;
}