@import "colors";

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    // font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inria Sans', sans-serif;
    line-height: 1;
    font-weight: 400;
    // font-size: 1.6rem;
    color: #fff;
    background-color: $bg-primary;
    overflow-x: hidden;
}

p, blockquote {
    margin-bottom: 0;
}

